/* *****************************************************************
TOOLS
***************************************************************** */
* {
    box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
    font-size: 62.5%;/* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
    font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}


/* *****************************************************************
GENERALITIES
***************************************************************** */

/* Le corps du document */
body {
	font-family: sans-serif;
	color: #555;
	background-color: #eee;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* Le titre principal d'un flux */
h1 {
    font-size: 4rem;
    color: #DD5735;
}

/* Le titre de second niveau  */
h2 {
    font-size: 3.2rem;
    color: #333;
}

/* Le titre de troisème niveau */
h3 {
    font-size: 2.4rem;
}

/* Les liens */
a {
    color: #DD5735;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000;
}


/* Contenu principal */
main {
	padding: 2em;
}

article {
    background-color: #FFF;
    padding: 1em;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

/* Le container permet de limiter la largeur d'un contenu */
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

/* L'entête de la page */
.header {
    padding: 1em;
    text-align: center;
    background-color: #444;
    color: #999;
}

.header h1 {
    margin: 0;
}

/* Le pied de page */
.footer {
    padding: 2em;
    text-align: center;
    background-color: #444;
    color: #FFF;
}

/* *****************************************************************
VARIOUS
***************************************************************** */

/* Utile pour mettre en évidence un parent */
.parent {
    border: 1px dashed #DD5735;
}

.card,
.cards > div
{
    padding: 2em;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.gutter > div {
    margin: 1em;
}

.code {
    padding: 0.5em;
    font-family: Monaco, monospace;
    font-size: 1.4rem;
    color: black;
    background-color: #ddd;
    border: 1px solid #bbb;
}
