body * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

a {
  color: #007eb3;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.5em;
}

h1 {
  color: #007eb3;
  text-align: center;
  font-size: 4.5rem;
  word-spacing: 10px;
  border-bottom: 1px dotted;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
}

/* *****************************************************************
HEADER
***************************************************************** */

header {
  text-align: center;
  margin-bottom: 3rem;
}

header nav {
  background-color: #007eb3;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

header nav li {
  width: 20%;
}

header nav a {
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  padding: 0.7em 1em;
}

/* *****************************************************************
MAIN
***************************************************************** */

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.img-left {
  float: left;
  margin-right: 2%;
}

.img-right {
  float: right;
  margin-left: 2%;
}

.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: 1px solid;
}

.rouge {
  color: #F00;
}

.ocre {
  color: #CD8C56;
}

a.readmore {
  background-color: #007eb3;
  color: #FFF;
  padding: 0.5em 1em;
  border-radius: 6px;
}

#carnets article {
  margin-bottom: 2.5rem;
}

#carnets article img {
  max-width: 49%;
}

#apropos {
  background-image: url('../img/fond.jpg');
  background-position: center;
  background-size: cover;
  padding: 4em 0;
}

#apropos article {
  background-color: #FFF;
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
}

/* *****************************************************************
PAGINATION
***************************************************************** */

.pagination {
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}
.pagination a,
.pagination span {
  display: inline-block;
  background-color: #EEE;
  color: #FFF;
  padding: 0.5em 1em;
  border-radius: 6px;
}
.pagination .active {
  background-color: #AAA;
}
.pagination a {
  background-color: #007eb3;
}

/* *****************************************************************
TABLE
***************************************************************** */

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #EEE;
}

th, td {
  border: 1px solid #CCC;
  padding: 1em;
}

/* *****************************************************************
FORM
***************************************************************** */

form {
  background-color: #444;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2em;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: 48%;
}

/* Style pour une barre d'outils => ou placer les boutons */
.toolbar {
	padding: 1em 2em;
	text-align: center;
}

/* Style de chaque ligne (field) */
input {
	margin-bottom: 1em;
}

/* Style de chaque libélé */
label {
  display: block;
}

/* Style de chaque input */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	display: block;
  width: 100%;
	padding: 0.65em 1em;
	font-size: 1.6rem;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}
textarea {
	width: 100%;
	min-height: 10em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 0.8em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #007eb3;
	border: 2px solid #007eb3;
	border-radius: 0.5em;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	color: #007eb3;
	background-color: #fff;
}

.fa-brands {
  font-size: 3rem;
}

.fa-square-facebook {
  color: #4267B2;
}

.fa-square-twitter {
  color: #1da1f2;
}

.fa-square-pinterest {
  color: #bd081c;
}

.fa-square-instagram {
  color: #b900b4;
}


footer {
  text-align: center;
  background-color: #007eb3;
  color: #FFF;
  padding: 1em 2em;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer img {
  width: 60px;
}


/* *****************************************************************
MAP
***************************************************************** */

iframe {
  width: 100%;
  height: 30rem;
}

/* *****************************************************************
GALLERY
***************************************************************** */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
  list-style: none;
  background-color: #EEE;
}

.gallery li {
  width: 48%;
  margin-bottom: 2rem;
  background-color: #FFF;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery h4,
.gallery p{
  margin: 1rem;
  text-align: center;
}

.gallery h4{
  font-size: 1.8rem;
}