/*FLEX DIRECTION*/

.test-default {
    display: flex;
}
.test-direction-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.test-direction-column {
    display: flex;
    flex-direction: column;
}
.test-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

/*FLEX WRAP*/

.test-nowrap {
    display: flex;
    width: 300px;
    flex-wrap: nowrap; /* Default */
}

.test-wrap {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

/*ALIGN-ITEMS*/

[class*="test-align-items"] li:nth-child(odd) {
	line-height: 4em;
}

.test-align-items-center {
    display: flex;
    align-items: center;
}
.test-align-items-flex-start {
    display: flex;
    align-items: flex-start;
}
.test-align-items-flex-end {
    display: flex;
    align-items: flex-end;
}
/*JUSTIFY-CONTENT*/

.test-justify-content-center {
    display: flex;
    justify-content: center;
}
.test-justify-content-flex-start {
    display: flex;
    justify-content: flex-start;
}
.test-justify-content-flex-end {
    display: flex;
    justify-content: flex-end;
}
.test-justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.test-justify-content-space-around {
    display: flex;
    justify-content: space-around;
}
.test-justify-content-space-evenly{
    display: flex;
    justify-content: space-evenly;
}

/* ORDER */

.test-order li:nth-child(1) {
    order: 4;
}
.test-order li:nth-child(2) {
	order: 2;
}
.test-order li:nth-child(3) {
	order: 6;
}
.test-order li:nth-child(4) {
	order: 1;
}
.test-order li:nth-child(5) {
	order: 3;
}
.test-order li:nth-child(6) {
	order: 5;
}

/*GROW*/

.test-grow {
    display: flex;
}
.test-grow > *{
    flex-grow: 1;
}
.test-grow .x2 {
    flex-grow: 2;
}
.test-grow li:nth-child(3) {
    flex-grow: 2;
}

/*SHRINK*/

.test-shrink {
    display: flex;
}
.test-shrink > * {
    flex-basis: 10em;
    flex-shrink: 1;
}
.test-shrink li:nth-child(3) {
    flex-shrink: 6;
}


