/*FORM*/
.field {
  display: flex;
  padding: 1em 0;
}
.field label {
  width: 30%;
}
.field input {
  width: 70%;
}
.field + .field {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2em 0;
  border-radius: 0.5em;
  padding: 1em;
}
legend {
  padding: 0 1em;
  font-size: 1.8rem;
}
label {
  padding: 0.5rem;
}
.toolbar {
  text-align: center;
  margin: 2em 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2em 0;
  border-radius: 0.5em;
  padding: 1em;
}
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  padding: 0.5em 1em;
}
select,
textarea {
  width: 100%;
}
.submit-button {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.6rem;
  color: #fff;
  background-color: #dd5735;
  border: 2px solid #dd5735;
  border-radius: 0.5em;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #fff;
  color: #dd5735;
}
