/*********************** NE PAS TOUCHER *************************/

* {
  background-color: rgba(0, 255, 0, 0.1);
  border: 2px solid black;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

img {
  width: 5em;
  height: auto;
  object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/*********************** TON CODE ICI *************************/
