.block {
    max-width: 40em;
    min-height: 20em;
    padding: 2em;
    color: white;
    background-color: teal;
}

.bg-large {
    background-image: url(../images/large.jpg);
}
.bg-small {
    background-image: url(../images/small.jpg);
}

.bg-repeat-no {
    background-repeat: no-repeat;
}
.bg-repeat-x {
    background-repeat: repeat-x;
}
.bg-repeat-y {
    background-repeat: repeat-y;
}

.bg-size-contain {
    background-size: contain;
}
.bg-size-cover {
    background-size: cover;
}
.bg-size-50 {
    background-size: 50%
}
.bg-size-80-40 {
    background-size: 80% 40%;
}

.bg-position-center {
    background-position: center;
}
.bg-position-right-top {
    background-position: right top;
}
.bg-position-right-bottom {
    background-position: right bottom;
}
.bg-position-80-40 {
    background-position: 80% 40%;
}
